@import "vars.styl"
html, body
  width 100%
  height 100%
  margin 0 auto
  font-family font
  font-size 100%
  color default-gray
  background-color #fafafa

h1, h2
  color dark-blue
  text-shadow 1px 1px 1px #ccc

h3
  color accent-red
  text-shadow 1px 1px 1px #bababa
  font-weight 700
p
  margin 0
.content-wrapper
  max-width 768px
  margin auto
  margin-top 0px
  padding 0px 15px 45px

.cover
  width 100%

@media screen and (min-width: 31.25em)
  .content-wrapper
    margin-top 10px

@media print
  html
    font-size 10pt
    margin 2em
    width auto
  .cover-container, .contact-detail, .resume .profile, .content-wrapper nav
    display none
  .main
    margin 1em
    float none
    width auto
