@import "vars.styl"
.cover-container
  background-color #1F1F1F
  width 100%
  padding 30px 0px
  position relative

  .profile
    display block
    width 200px
    height 200px
    border-radius 100%
    border 3px solid #fff
    margin auto
    box-sizing border-box

    img
      width 100%

nav
  text-align center
  width 100%
  overflow auto
  margin-bottom 25px
  a
    display block
    float left
    padding 15px 0
    font-size 1.1rem
    color #3c3c3c
    text-decoration none
    width 33.33%
    border-bottom thin solid default-gray
  a.active
    border-color accent-red

.social-list
  overflow hidden
  padding 0
  margin auto
  width 312px
  li
    float left
    list-style-type none
    width 48px
    height 48px
    margin 15px 4px 15px 0px
    a
      display block
      width 100%
      height 100%
      background-color #fff
      border-radius 48px
      svg
        width 100%
        height 100%
        position relative
        top -1px
    &.facebook svg
      fill #3b5998
    &.twitter svg
      fill #55acee
    &.linkedin svg
      fill #0976b4
    &.google svg
      fill #dd4b39
    &.instagram svg
      fill #3f729b
  li.github a
    background-size 100%
    background-repeat no-repeat
    background-position center
    border 3px solid #fff
    box-sizing border-box
    background-color #111
    background-image url('../img/github-128.png')

@media screen and (min-width: 33.25em)
  .cover-container
    background-image url('../img/min.png')
    background-repeat no-repeat
    background-size 100% auto
    background-position 50% 50%
    .profile
      margin 0px 20px 50px

  .social-list
    position absolute
    bottom 3px
    padding-left 20px

@media screen and (min-width: 72.5em)
  .cover-container
    .profile
      margin 0px 50px 50px

  .social-list
    padding-left 50px
