@import "vars.styl"
.resume
  h1
    margin 0px 0px 5px
  h2
    margin 8px 0px 5px
    font-size 1.5rem
  h3
    margin 12px 0px 3px
    font-size 1.15rem
  span
    display block
  p
    font-size .85rem
    font-weight 400
  section
    margin-bottom 15px
    display inline-block
.contact
  width 100%
  div
    display inline-block
    width 49.5%
.contact-detail
  margin 5px 0px
  a
    color inherit
    &:visited
      color inherit
.education
  span
    font-size 0.9rem
  .education-major
    margin-top 5px
    font-weight 700
.skills
  .skills-prefix
    margin-right 3px
    color default-gray
  span
    display inline-block
.job-date
  margin 2px 0px
.job-date, .job-location
  font-size .9rem
.job-description
  display block
  margin-top 7px
  font-weight 400
  font-size .85rem
.extracurricular-description
  font-size 0.9rem


@media screen and (min-width: 31.25em)
  .education, .skills
    width 49.5%
    vertical-align top
  .extracurricular-item
    display inline-block
    vertical-align top
    width 32%
    margin 0 1% 0 0

@media print
  .contact-detail
    margin: 2px 0px
  .resume
    padding 0
    h2, h3
      margin-top 8px
    .job-description
      margin-top 4px
  .education, .skills
    width 49.5%
    vertical-align top
  .extracurricular-item
    display inline-block
    vertical-align top
    width 32%
    margin 0 1% 0 0
