.resume
  padding 0 5px
  h1
    margin 0px 0px 5px
  h2
    margin 15px 0px 5px
    font-size 1.5rem
  h3
    margin 15px 0px 3px
    font-size 1.15rem
  span
    display block
  p
    font-size .85rem
    font-weight 300
  section
    margin-bottom 25px
.contact-detail
  margin 5px 0px
  a
    color inherit
    &:visited
      color inherit
.job-date
  margin 3px 0px
.job-date, .job-location
  font-size .9rem
.job-description
  display block
  margin-top 7px
  font-weight 300
  font-size .85rem
.education
  span
    font-size 0.9rem
  .education-major
    margin-top 7px
    font-weight 700


@media print
  .contact-detail
    margin: 2px 0px
  .resume
    padding 0
    h2, h3
      margin-top 10px
    .job-description
      margin-top 4px
