<div class="resume">
  <div itemscope itemtype="http://schema.org/Person">
    <h1 itemprop="name">{{resume.name}}</h1>
    <span itemprop="email" class="contact-detail"><a href="mailto:josh@joshvickerson.com">{{resume.email}}</a></span>
  </div>
  <section class="profile">
    <h2 class="section-header">Profile</h2>
    <p>
      {{resume.profile}}
    </p>
  </section>

  <section class="education">
    <h2 class="section-header">Education</h2>
    <h3 class="educational-institution">{{resume.education.school}}</h3>
    <span class="education-location">{{resume.education.location}}</span>
    <span class="education-major">Degree: B.S. {{resume.education.major}}</span>
    <span class="education-minor">Minor: {{resume.education.minor}}</span>
    <span class="education-years">{{resume.education.years}}</span>
  </section>

  <section class="skills">
    <h2 class="section-header">Skills</h2>
    <h3 class="skills-prefix">Highly proficient with:</h3>
    <span class="skill-list">{{resume.skills["1"]}}</span>
    <h3 class="skills-prefix">Experience with:</h3>
    <span class="skill-list">{{resume.skills["2"]}}</span>
  </section>

  <section class="experience">
    <h2 class="section-header">Work Experience</h2>
    <div class="job-experience-item" ng-repeat="job in resume.jobs">
      <h3 class="job-company">{{job.company}}</h3>
      <span class="job-title">{{job.title}}</span>
      <span class="job-date">{{job.date}}</span>
      <span class="job-location">{{job.location}}</span>
      <span class="job-description">{{job.description}}</span>
    </div>
  </section>

  <section class="extracurricular">
    <h2 class="section-header">Extracurricular Activities & Projects</h2>
    <div class="extracurricular-item" ng-repeat="item in resume.extra">
      <h3>{{item.name}}</h3>
      <span class="extracurricular-description">{{item.description}}</span>
    </div>
  </section>

</div>
